{% extends "base_training_list.html" %}
{% block title %}Power trainings{% endblock %}
{% block create_url %}{% url "main:create-power-training" %}{% endblock %}
{% block trainings %}
  {% for powerTraining in powertraining_list %}
    <a href="{% url "main:update-power-training" powerTraining.id %}"
       data-training-id="{{ powerTraining.id }}"
       data-training-type="PW"
       class="training-element">
      <div class="alert alert-primary fade show ">
        <div class="d-flex justify-content-between">
            <span>
              {{ powerTraining.end|date:"d/m/Y" }} {{ powerTraining.end|time:"G:i" }}
           </span>
          <i class="fa-solid fa-xmark delete-element-icon delete-training-icon"></i>
        </div>
      </div>
    </a>
  {% empty %}
    <h6 class="card-title">
      No trainings yet
    </h6>
  {% endfor %}
{% endblock %}