{% extends "base_training_form.html" %}
{% block otherFields %}
  <div class="row mb-3">
    <label for="inputAverageSpeed" class="col-md-4 col-lg-3 col-form-label">
      average_speed (km/h)
    </label>
    <input type="number"
           id="inputAverageSpeed"
           name="average_speed"
           class="form-control">
  </div>
  <div class="row mb-3">
    <label for="inputDistance" class="col-md-4 col-lg-3 col-form-label">
      Distance (km)
    </label>
    <input type="number"
           id="inputDistance"
           name="distance"
           class="form-control"
           value="">
    <div class="row mb-3">
      <label for="inputClimb" class="col-md-4 col-lg-3 col-form-label">
        climb
      </label>
      <input type="number"
             id="inputClimb"
             name="climb"
             class="form-control"
             value="">
    </div>
  </div>
  <input type="hidden" name="next" value="{% url "main:cycling-training-list" %}">
{% endblock %}