{% extends "base.html" %}
{% block content %}
  <section class="section profile">
    <div class="row justify-content-center">
      <div class="col-xl-9">

        <div class="card ">
          <div class="card-body pt-3" >
            <form action="" method="post">
              {% csrf_token %}
              <label class="col-md-4 col-lg-3 col-form-label">Name</label>
              <div class="col-md-8 col-lg-9">
                <input type="text"
                       name="name"
                       class="form-control"
                       value="{{ exercise.name }}" required>
              </div>
              <div class="col-md-8 col-lg-9">
                <label class="col-md-4 col-lg-3 col-form-label">
                  Description
                </label>
                <textarea class="form-control"
                          name="description">{{ exercise.description }}</textarea>
              </div>
              <div class="text-center mt-3">
                {% if object %}
                  <button type="submit" class="btn btn-success">Update</button>
                {% else %}
                  <button type="submit" class="btn btn-success">Create</button>
                {% endif %}
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}