{% extends "base.html" %}
{% block content %}
  <section class="section">
    <div class="row justify-content-center">
      <div class="col-lg-8">
        <div class="card">
          <div class="card-body">
            <div class="card-title-container">
              <h5 class="card-title">
                Exercises
              </h5>
              <a class="btn btn-primary" href="{% url "main:create-exercise" %}">
                Add exercise
              </a>
            </div>
            {% for exercise in exercise_list %}
              <a href="{% url "main:exercise-update" exercise.id %}">
              <div class="alert alert-primary fade show">
                <span>
                  {{ exercise.name }}
                </span>
              </div>
              </a>
            {% empty %}
              <h6 class="card-title">
                No exercises yet
              </h6>
            {% endfor %}
          {% include "includes/pagination.html" %}
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}