<div class="card">
  <div class="card-body">
    <h5 class="card-title">
      Search
    </h5>
    <form method="get" id="date-search-form">
      <input class="form-control mb-3"
             type="text"
             name="name"
             placeholder="Enter name"
             value="{% if search_form.initial.name %}{{ search_form.initial.name }}{% endif %}" />
      <div class="text-center">
        <input class="btn btn-success text-center"
               type="submit"
               value="Search"/>
      </div>
    </form>
  </div>
</div>


<div class="card">
  <div class="card-body">
    <h5 class="card-title">
      Sort by alphabet
    </h5>
    <div class="form-check">
      <input class="form-check-input"
             type="radio"
             name="sort"
             id="oldest_sort"
             form="date-search-form"
             value="ASC" {% if search_form.initial.sort == "ASC" %}checked{% endif %}>
      <label class="form-check-label" for="oldest_sort">
        Ascending
      </label>
    </div>
    <div class="form-check">
      <input class="form-check-input"
             type="radio"
             name="sort"
             id="newest_sort"
             form="date-search-form"
             value="DESC" {% if search_form.initial.sort != "ASC" %}checked{% endif %}/>
      <label class="form-check-label" for="newest_sort">
        Descending
      </label>
    </div>
  </div>
</div>