{% extends "base.html" %}
{% block content %}
  <section class="section">
    <div class="row justify-content-center">
      <div class="col-lg-8">
        <div class="card">
          <div class="card-body">
            <div class="card-title-container">
              <h5 class="card-title">
                Cycling trainings
              </h5>
              <div class="d-flex h-50">
                <a class="btn btn-primary" href="{% url "main:create-cycling-training" %}">
                  Create training
                </a>
              </div>
            </div>
            {% for cyclingTraining in cyclingtraining_list%}
              <a href="{% url "main:update-cycling-training" cyclingTraining.id %}"
                 class="training-element"
                 data-training-id="{{ cyclingTraining.id }}">
                <div class="alert alert-primary fade show">
                    <span>
                      {{ cyclingTraining.start }}
                    </span>
                    <button class="btn btn-danger deleteCyclingTraining">Delete</button>
                </div>
              </a>
            {% empty %}
              <h6 class="card-title">
                No power trainings yet
              </h6>
            {% endfor %}
            {% include "includes/pagination.html" %}
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}