{% extends "base.html" %}

{% block content %}
  <div class="row justify-content-center">
    <div class="col-xl-9">
      <div class="card">
        <div class="card-body pt-3">
          <form action="" method="post">
            {% csrf_token %}
            <div class="row mb-3">
              <label for="inputStartDate" class="col-md-4 col-lg-3 col-form-label">
                Start date
              </label>
              <input type="text"
                     placeholder="dd/mm/yyyy H:M:S"
                     id="inputStartDate"
                     name="start"
                     class="form-control"
                     value="{{ default_start_date }}"
              >
            </div>
            <div class="row mb-3">
              <label for="inputEndDate" class="col-md-4 col-lg-3 col-form-label">
                End date
              </label>
              <input type="text"
                     placeholder="dd/mm/yyyy H:M:S"
                     id="inputEndDate"
                     name="end"
                     class="form-control"
                     value="{% if end %}{{ end }}{% endif %}"
              >
            </div>
            <div class="row mb-3">
              <label for="addDescription" class="col-md-4 col-lg-3 col-form-label">
                Add description
              </label>
              <textarea class="form-control" id="addDescription" name="description">{% if description %}{{ description }}{% endif %}</textarea>
            </div>
            {% block otherFields %}
            {% endblock %}
            <div class="text-center">
              <input type="submit" class="btn btn-primary" value="Create">
            </div>
            <input type="hidden" name="user" value="{{ user.id }}">
          </form>
        </div>
      </div>
    </div>
  </div>
{% endblock %}